block work-content
  div(class="swiper-container swiper-container-h swiper-container-horizontal st-panel")
    div(class="swiper-wrapper")
      div(class="swiper-slide swiper-slide-active") 
        div.st-deco(data-icon="P")
        h2 PORTFOLIO
        p 2012~2017
      div(class="swiper-slide swiper-slide-next") 
        div(class="swiper-container swiper-container-v swiper-container-vertical")
          div(class="swiper-wrapper")
            div(class="swiper-slide swiper-slide-active") 
              h2 Dog & Nerd
              p We went to Ilan for 2017 new year.
            div(class="swiper-slide swiper-slide-next") Vertical Slide 2
            div(class="swiper-slide") Vertical Slide 3
            div(class="swiper-slide") Vertical Slide 4
            div(class="swiper-slide") Vertical Slide 5
          div(class="swiper-pagination swiper-pagination-v swiper-pagination-clickable swiper-pagination-bullets")
            span(class="swiper-pagination-bullet swiper-pagination-bullet-active")
            span(class="swiper-pagination-bullet")
            span(class="swiper-pagination-bullet")
            span(class="swiper-pagination-bullet")
            span(class="swiper-pagination-bullet")        
      div(class="swiper-slide") Horizontal Slide 3
      div(class="swiper-slide") Horizontal Slide 4

    div(class="swiper-button-prev")
    div(class="swiper-button-next")
    
    